@import "styles/variables";

.container {
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  width: 100%;
  max-width: 850px;

  .heading {
    display: flex;
    gap: 10px;
    align-items: flex-end;

    span {
      color: $green;
      font-weight: 600;
      font-size: clamp(14px, 4vw, 26px);
      margin-bottom: 2px;
      font-family: $mono;
    }

    p {
      font-size: clamp(16px, 5vw, 32px);
      font-weight: bold;
    }

    .line {
      margin-bottom: 15px;
      background-color: $gray;
      height: 1px;
      width: max(100px, 25%);
      opacity: 0.4;
    }
  }

  .body {
    display: flex;
    gap: 50px;

    .companyList {
      display: flex;
      flex-direction: column;
      position: relative;

      .indicator {
        height: 50px;
        width: 0;
        border-left: 2px solid $green;
        border-radius: 10px;
        transition: 250ms;
        background-color: $green;
        position: absolute;
        left: 0;
        top: calc(var(--active-index) * 48px);
        z-index: 10;
      }

      .item {
        padding: 15px 20px;
        color: $gray;
        border-left: 2px solid $gray;
        cursor: pointer;
        background-color: transparent;
        transition: 250ms;
        font-size: 16px;
        font-weight: 500;

        &:hover {
          background-color: $blue-shade;
          color: $green;
        }
      }

      .active {
        color: $green;
      }
    }

    .explanation {
      display: flex;
      flex-direction: column;
      gap: 25px;

      .detail {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      .title {
        font-size: 22px;
        font-weight: 600;
        color: $white;
      }

      .desc {
        color: $gray;
        font-size: 16px;
      }

      ul {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        li {
          font-size: 16px;
          line-height: 25px;
        }
      }
    }
  }
}
