@import "styles/variables";

.container {
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 620px;
  padding-bottom: 30px;
  position: relative;

  .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }

  .heading {
    color: $green;
    font-weight: 500;
    font-size: clamp(12px, 4vw, 20px);
    margin-bottom: 2px;
    text-align: center;
    letter-spacing: 1px;

    span {
      letter-spacing: 1px;
      color: $green;
      font: inherit;
      font-family: $mono;
    }
  }

  .title {
    color: $white;
    font-weight: bold;
    font-size: clamp(30px, 5vw, 60px);
    text-align: center;
  }

  .detail {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .desc {
    color: $gray;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  a {
    margin: 0 auto;
    width: fit-content;
  }

  button {
    padding: 16px 25px;
    font-size: 18px;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    .footerText {
      letter-spacing: 1px;
      font-family: $mono;
      font-weight: 400;
      font-size: 16px;
      color: $white;
    }
  }

  @media (max-width: 768px) {
    min-height: 620px;
    gap: 30px;

    .body {
      gap: 30px;
    }

    .heading {
      font-size: 14px;
    }

    .title {
      font-weight: 500;
      font-size: 24px;
    }

    .detail {
      gap: 10px;
    }

    .desc {
      font-size: 14px;
      line-height: 24px;
    }

    button {
      padding: 16px 25px;
      font-size: 14px;
    }

    .bottom {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;

      .footerText {
        font-size: 14px;
      }
    }
  }
}
